<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand">Api - Weather</a>

  <div id="navbar-portal-outlet"></div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 bg-light border-right">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookmarks">Favoritos</a>
        </li>
      </ul>
    </div>
    <div class="col-sm-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<div class="card text-center text-light bg-dark">
  <div class="card-body">
    <span class="card-title">Sanderson Machado de Araujo</span>
    <p class="card-text"><a href="https://www.linkedin.com/in/sanderson-machado-de-araujo-83bab324/" class="text-light" target="_blank">LinkedIn</a> | <a href="http://www.github.com/smaraujo" class="text-light" target="_blank">GitHub</a></p>
  </div>
</div>
